@use 'variables';


.daily-log> p{
    padding: 20px ;
    border-bottom: 1px solid variables.$light-primary-color;
}

.daily-log li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid variables.$light-primary-color;
}

.name{
    width: 40%;
}

.name span{
    font-size: 14px;
    color: variables.$light-primary-color;
}

.daily-log li img{
    width: 50px;
    height: 50px;
    border: 1.5px solid variables.$primary-color;
    border-radius: 50%;
}

.daily-log li button{
    width: 75px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.signed-in{
    background-color: variables.$primary-bg-color;
    border: 2px solid variables.$button-bg-color;
    color: variables.$button-bg-color;
}

.signed-out{
    background-color: variables.$button-bg-color;
    border: 2px solid variables.$primary-bg-color;
    color: variables.$primary-bg-color;
}
