@use 'variables';


.banner{
    width: 100%;
    padding:  20px 0;
    display: flex;
    background-color: variables.$light-primary-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.banner span {
    text-align: center;
    width: 80%;
}

.banner a{
    padding-left: 5%;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    width: 100%;
    padding: 16px;
    border-bottom: 3px solid variables.$light-primary-color;

}

.inactive{
    border-color: variables.$light-primary-color;
}

.active{
    border-color: variables.$primary-color;
}